<h1>Welcome to My Animal App</h1>
<p>Explore the animal API data:</p>
<%= link_to "Animal API Data", animals_path %>
<br/>
<%= link_to 'Swagger UI Documentation', 'http://localhost:3000/api-docs/index.html' %>
